.task_manager{
    border: 1px solid;
    border-radius: 14px;
    margin-top: 5%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1000px;
}   
.row{
    justify-content: center;
}
.modal_position{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
}
.change-button{
    margin-left: 45px;
    margin-top: 8px;
}
.changeedit{
    padding-left: 2rem;
    display: inline-block;
}
.custom-control-label::after{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    top: 0.1rem;
    left: 0.3rem;
}
.custom-control-label::before{
    width: 2rem;
    height: 2rem;
    top: 0.1rem;
    left: 0.3rem;
}

